*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Silkscreen", sans-serif;
}
:root {
    --bg-primary: #070F2B;
    --bg-secondary: #333A73;
    --text-primary: #387ADF;
    --text-secondary: #50C4ED;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    border: 1px solid #070F2B;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 32px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-center {
    text-align: center;
}

.tittle {
    font-size: 1em;
}

.icons {
    margin-top: 8px;
    font-size: 24px;
    color: var(--icons-bg-primary);
}

.description {
    color: #F6F5F5;
    margin-top: 8px;
    font-size: 1em;
}

.btn {
    background-color: #333A73;
    color: #F9F07A;
    margin-top: 16px;
    padding: 8px;
    cursor: pointer;
    border: none;
    width: 100%;
}

.btn:hover {
    background-color: #836FFF;
    color: black;
    transition: .3s ease-in-out;
}

@media screen and (max-width: 476px ) {
    .card {
        width: 95%;
    }

    .tittle {
        font-size: 2em;
    }

    .icons {
        font-size: 3em;
    }

    .description {
        font-size: 1.5em;
    }

    .btn {
        padding: 16px;
        font-size: 1.5em;
    }
}